:root {
	--white: #d8d8d8;
	--white-two: #ffffff;
	--dark-indigo: #1a0e49;
	--medium-grey: #cecece;
	--warm-grey: #8d8c8c;
	--greeny-blue: #57bbbc;
	--beige: #ebe9d7;
	--medium-pink: #ee4c77;
}

* {
	box-sizing: border-box;
}

button:focus, input:focus {
	outline: none;
}

a {
	text-decoration: none;
}

.container {
	background-color: var(--beige);
	width: 100vw;
	min-height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Sans+Pro&display=swap");

.text-5 {
	font-family: Roboto;
	font-size: 2.125rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: var(--white-two);
}
.text-4 {
	font-family: Roboto;
	font-size: 2.125rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #991237;
}
.text-3 {
	font-family: Roboto;
	font-size: 2rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.22;
	letter-spacing: -0.45px;
	text-align: center;
	color: #383743;
}
.text-6 {
	font-family: Roboto;
	font-size: 1.875rem;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: var(--dark-indigo);
}
.text-11 {
	font-family: Roboto;
	font-size: 1.6rem;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -1.2px;
	text-align: center;
	color: #383743;
}
.text-10 {
	font-family: Roboto;
	font-size: 1.5rem;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #383743;
}
.text-7 {
	font-family: Roboto;
	font-size: 1.5rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: var(--warm-grey);
}
.text-9 {
	font-family: 'Source Sans Pro';
	font-size: 1.5rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: -0.38px;
	text-align: left;
	color: var(--warm-grey);
}
.text-8 {
	font-family: Roboto;
	font-size: 1.125rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: var(--warm-grey);
}
.text-2 {
	font-family: Roboto;
	font-size: 1.125rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.25px;
	text-align: left;
	color: #383743;
}
.text {
	font-family: Roboto;
	font-size: 1.125rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.44;
	letter-spacing: -0.25px;
	text-align: center;
	color: #383743;
}
