.card-container {
	width: 100%;
	height: 12rem;
	border-radius: 4.7px;
	background-color: var(--white-two);
	padding: 1rem;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	margin: 0.5rem 0;
}

.card-container .enterprise-logo {
	min-width: 18rem;
	height: 100%;
	background-color: #7dc075;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
	font-family: Roboto;
	color: var(--white-two);
	margin-right: 1.5rem;
}

.card-container .enterprise-info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.card-container .enterprise-info * {
	margin: 0;
}

@media only screen and (max-device-width: 736px) {
	.card-container {
		height: unset;
		flex-direction: column;
	}

	.card-container .enterprise-logo {
		min-width: unset;
		width: 100%;
		padding: 1.7rem 0;
		font-size: 3rem;
	}
}
