#login.container {
  display: flex;
	justify-content: center;
	align-items: center;
}
#login .form-wrapper {
	width: 22rem;
	height: 30rem;

	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login .form-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login .form-wrapper .input-group {
	width: 100%;
  
  display: flex;
	flex-direction: row;
  align-items: center;

  margin-bottom: 1rem;
  border-bottom: 1px solid var(--warm-grey);
}

#login .form-wrapper .input-group.error {
  border-bottom-color: var(--medium-pink);
}

#login .form-wrapper .error-message {
  width: 20.75rem;
  height: 1.5rem;
  font-family: Roboto;
  font-size: 0.76rem;
  line-height: 1.95;
  letter-spacing: -0.17px;
  text-align: center;
  color: var(--medium-pink);
}

#login .form-wrapper form .input-group .input-icon {
	width: 1.625rem;
	height: 1.625rem;
	object-fit: contain;
}

#login .form-wrapper .input-group input {
  width: 100%;
  border: 0;
  background: transparent;
  padding: 0.5rem;

  font-family: Roboto;
	font-size: 1.125rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.25px;
	text-align: left;
	color: #383743;
}

#login .form-wrapper .btn {
  width: 100%;
  max-width: 20.25rem;
  background: var(--greeny-blue);
  border-radius: 3.6px;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--white-two);
  transition: opacity 0.2s ease-in-out;
}

#login .form-wrapper .btn:hover {
  opacity: 0.8;
}

#login .form-wrapper .btn:focus {
  opacity: 0.75;
  border: 0;
}

.loading-wrapper {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.6);
}

.loading-wrapper img {
  max-width: 8.25rem;
  max-height: 8.25rem;
}

@media only screen and (max-device-width: 736px) {
  div#login.container {
    padding: 0 1rem;
  }
}
