#home.container {
	display: flex;
	flex-direction: column;
}

#home .header {
	max-width: 100vw;
	width: 100%;
	overflow: hidden;
	padding: 1rem 0;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom, var(--medium-pink), #c4365b);
	border-bottom: solid 1px #979797;
	position: relative;
}

#home .header img {
	max-height: 3.5rem;
}

#home #search-form {
	height: 100%;
}

#home .header .search-group {
	position: absolute;
	right: 2rem;
	width: 56px;
	left: unset;
	height: calc(100% - 2rem);
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	transition: width 0.3s ease-in-out;
}

#home .header .search-group.focused {
	width: calc(100% - 4rem);
	border-bottom: 1.5px solid var(--white);
}

#home .header .close.btn {
	display: none;
}

#home .header .search-group.focused .close.btn {
	display: block;
}

#home .btn {
	background: transparent;
	border: 0;
	cursor: pointer;
}

#home .header .close.btn {
	position: absolute;
	right: 0;
}

#home .header .filter.btn img {
	height: 1.7rem;
	width: 40px;
}

#home .header .search-group input {
	background: transparent;
	border: none;
	max-width: 0;
	height: 100%;
	font-family: Roboto;
	font-size: 2.125rem;
	text-align: left;
	color: var(--white-two);
}

#home .header .search-group input::placeholder {
	color: #991237;
}

#home .header .search-group.focused input {
	max-width: 100%;
	width: calc(100% - 16rem);
}

#home .btn img {
	width: 3.75rem;
	height: 3.75rem;
	object-fit: contain;
}

#home main {
	display: flex;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

#home main button {
	border: none;
	background: transparent;
}

#home .filter {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
}

#home .filter .btn {
	height: 2.7rem;
	border-radius: 4px;
	background: var(--medium-grey);
	transition: opacity 0.2s ease;
	width: 170px;
}

#home .filter .btn:hover {
	opacity: 0.9;
}

#home .filter .filter-options {
	margin-top: 4px;
	background-color: var(--white-two);
	width: 170px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem;
}

#home .filter .filter-options .clear-filter {
	width: 100%;
	cursor: pointer;
	color: #3232eb;
	font-size: 0.9rem;
	margin-top: 4px;
}

#home .filter .filter-options.hidden {
	display: none;
}

#home .filter .filter-options select {
	background: var(--medium-grey);
	padding: 0.3rem;
	width: 70%;
	border-radius: 4px;
	text-align: center;
}

#home .filter .btn > div {
	display: flex;
	align-items: center;
}

#home .filter .btn img {
	height: 1.3rem;
	width: 1.3rem;
	margin: 3px;
}

@media only screen and (max-device-width: 736px) {
	#home .header img {
		height: 80%;
	}

	#home .header .search-group {
		right: 1rem;
	}

	#home .header .search-group.focused {
		width: calc(100% - 2rem);
	}

	#home .header .search-group input {
		font-size: 1.7rem;
	}

	#home .header .search-group.focused input {
		width: 100%;
	}
}
