#details.container {
	display: flex;
	flex-direction: column;
}

#details .header {
	max-width: 100vw;
	width: 100%;
	overflow: hidden;
	padding: 1rem;
	height: 5rem;
	display: flex;
	align-items: center;
	background: linear-gradient(to bottom, var(--medium-pink), #c4365b);
	border-bottom: solid 1px #979797;
	position: relative;
}

#details .header .back {
	background: transparent;
	border: none;
	margin-right: 3rem;
	cursor: pointer;
}

#details .header .back img {
	height: 2.2rem;
	width: 2.2rem;
}

#details .header h1 {
	margin: 0;
}

#details main {
	display: flex;
	justify-content: center;
	padding: 2rem 1rem;
}

#details .logo {
	width: 100%;
	height: 18rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #7dc075;
	font-family: Roboto;
	font-size: 4.813rem;
	font-weight: bold;
	color: var(--white-two);
}

#details .enterprise-container {
	max-width: 57.75rem;
	width: 100%;
	border-radius: 4.8px;
	background-color: var(--white-two);
	padding: 3rem;
}

@media only screen and (max-device-width: 736px) {
	#details .header .back {
		margin-right: 1rem;
	}

	#details .header div {
		white-space: nowrap;
		overflow: scroll;
	}

	#details .enterprise-container {
		padding: 1.2rem;
	}

	#details .logo {
		height: unset;
		padding: 3rem;
	}

	#details .enterprise-container p {
		font-size: 1.2rem;
		text-align: justify;
	}
}
